body {
    background: url('../img/login-background.jpg') no-repeat center center fixed;
    background-size: cover;
}

.loginHeader {
    text-align: center;
    margin-bottom: 100px;
}

.loginHeader h1 {
    font-family: "Anta", sans-serif;
    font-size: 150px;
    font-weight: 700;
    color: #EE4A24;
    padding: 0px;
    margin: 0px;
}

.loginHeader h3 {
    font-family: "Anta", sans-serif;
    color: #EFD6D0;
    font-size: 30px;
    margin: 0px;
    text-transform: uppercase;
    display: inline-block;
}

.loginHeader h3::after {
    content: '';
    display: block;
    height: 2px;
    background: #EE4A24;
    width: auto;
    margin:0 auto;
}


.loginBody form {
    margin: 0 auto;
    width: 450px;
    background: rgba(0, 0, 0, 0.40);
    padding: 50px;
    border: 2.5px solid #68E3F5;
    border-radius: 15px;
}

.loginInputsContainer {
    margin-top: 20px;
}

.loginInputsContainer label {
    font-family: "Noto Sans", sans-serif;
    display: block;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 500;
    color: #EFD6D0;
}

.loginInputsContainer input {
    height: 35px;
    width: 100%;
    border-radius: 5px;
    font-family: "Noto Sans", sans-serif;
    font-size: 20px;
    font-style: italic;
    padding: 5px;
    text-align: center;
    color: #EE4A24;
}

.loginButtonContainer {
    margin-top: 45px;
    text-align: center;
}

.loginButtonContainer button {
    font-family: "Noto Sans", sans-serif;
    font-size: 20px;
    font-weight: 700;
    padding: 20px 80px;
    background: #68E3F5;
    border: none;
    border-radius: 10px;
}

.loginButtonContainer a{
    text-align: center;
    text-decoration: none;
    font-family: "Noto Sans", sans-serif;
    font-size: 14px;
    color: #EE4A24;
}

.succsessAlert {
    margin: 0 auto;
    margin-bottom: 20px;
    width: 530px;
    background: rgba(0, 0, 0, 0.40);
    padding: 10px;
    border: 2.5px solid #34C759;
    border-radius: 15px;
}

.succsessAlert p {
    font-family: "Noto Sans", sans-serif;
    font-size: 14px;
    font-weight: 500;
    color: #34C759;
}

.failedAlert {
    margin: 0 auto;
    margin-bottom: 20px;
    width: 530px;
    background: rgba(0, 0, 0, 0.40);
    padding: 10px;
    border: 2.5px solid red;
    border-radius: 15px;
}

.failedAlert li {
    font-family: "Noto Sans", sans-serif;
    font-size: 14px;
    font-weight: 500;
    color: red;
}

.failedAlert p {
    font-family: "Noto Sans", sans-serif;
    font-size: 14px;
    font-weight: 500;
    color: red;
}
    
